.mainColor {
  background-color: #BE3144;
}

.mainColor-text {
  color: #BE3144;
}

.secondaryColor {
  background-color: #303841;
}

.secondaryColor-text {
  color: #303841;
}

.tertiaryColor {
  background-color: #3A4750;
}

.tertiaryColor-text {
  color: #3A4750;
}

.backgroundColor {
  background-color: #D3D6DB;
}

.backgroundColor-text {
  color: #D3D6DB;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.collection-title-heavy {
  font-size: 20px;
}

.inline{
  display: inline;
}

.noBottomMargin{
  margin-bottom: 0;
}

.noTopMargin{
  margin-top: 0;
}

.clickable{
  cursor: pointer;
}

.allowOverflow{
  overflow: visible;
}

.react-autosuggest__input {
  margin: 0 0 0 0 
}

.react-autosuggest__suggestions-container {
  border-bottom: honeydew;
  border-left: honeydew;
  border-right: honeydew;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-radius: 0 0 2px 2px;
}

.react-autosuggest__suggestion {
  background-color: rgb(255, 255, 255);
  border-bottom: honeydew 1px;
  padding: 10px;
  color: rgb(85, 85, 85);
  cursor: pointer;
}

.react-autosuggest__suggestion--highlighted {
  background-color: rgb(230, 230, 230);
  padding: 10px;
  color: rgb(85, 85, 85);
  cursor: pointer;
}